/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}

/* APP BAR */

/* #4 #sweat address both #app-bar s */
h1 {
    background-color: #3F51B5;
    color: white;
    font-size: 20px;
    /* #5 gives the same height to both #app-bars */
    height: 24px;
     /* #5 #appbar specs styling */
     padding: 16px 0px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;


}

/* #channels area size is defined */
#channels { 
    width: 40%;

/* #5 this is what makes the channels area fill the full screen height */
    height: 100%;
    background-color: lightgrey;
}

/* CHANNELS LIST */

/* #4 #sweat #channels */
ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;

/* #5 this is the solution for the #channel's list to scroll */ 
position: relative;
top: 0px;
height: 80.5%;
overflow: scroll;
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}

/* TAB BAR and CHAT BAR*/

/* #4 #sweat #tab-bar */
#tab-bar, #chat-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    /* #5 #flexify #tab-bar */
    display: flex;
    justify-content: space-between;
}

/* #5 chat-bar initial styling*/
#chat-bar{
    display: block !important;
    justify-content: initial !important;
    text-align: initial !important;
    height: 15%;
}
/* #5 styling the #chat bar's #emojis box*/
#emojis{
    background-color:white;
   border: 1px solid black;
   height: 200px;
   width: 200px;
   font-size: 28px;
   position: absolute; 
   bottom: 70px;
   padding: 16px;
   margin-top: 284px;
   margin-left: 16px;
    overflow: scroll;
}

/* #5 emoji button position */
#emojis-button
{  position: absolute;
    bottom: 30px;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* MESSAGES */
/* #4 select #specific #messages by class 
and re-assign element styles according to their 
#hierarchy in a nested way */

#chat{
    width: 60%;

    /* #5 this is what makes the chat area fill the full screen height */
    height: 100%;
    background-color: lightgrey;
}

.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;

}


.message h3 {
    font-size: medium;
}
 
.message h3 em {
    font-size: larger;
    font-style: normal;
    /* #5 set #display as inline-block to force width to affect surrounding elements*/
    display: inline-block;
    width: 32%;
    
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;

    /* #5 set #display as inline-block to force width to affect surrounding elements*/
    display: inline-block;
    width: 40%;
}

.message p {
    background-color: white;
    padding: 16px;
    /* #5 flexify interior of message for #4 buttons to align */
    display:flex;
    justify-content: space-between;
}

.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    /* #5 position #button left and bottom 8 px */
    position: absolute;
    margin-left: 72%;
    margin-top: 16px;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}